<div id="<%= dom_id con_registration %>">
  <% if current_user.admin? %>
    <p>
      <strong>id:</strong>
      <%= con_registration.id%>
    </p>
    <p>
      <strong>user_id:</strong>
      <%= con_registration.user_id%>
    </p>
  <% end %>
  <p>
    <strong>Full name:</strong>
    <%= con_registration.full_name %>
  </p>

  <p>
    <strong>Fur name:</strong>
    <%= con_registration.fur_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= con_registration.date_of_birth %>
  </p>

  <p>
    <strong>Address line1:</strong>
    <%= con_registration.address_line1 %>
  </p>

  <p>
    <strong>Address line2:</strong>
    <%= con_registration.address_line2 %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= con_registration.postcode %>
  </p>

  <p>
    <strong>County:</strong>
    <%= con_registration.county %>
  </p>

  <p>
    <strong>City:</strong>
    <%= con_registration.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= con_registration.country %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= con_registration.tel %>
  </p>

  <p>
    <strong>Disability:</strong>
    <%= con_registration.disability %>
  </p>

  <p>
    <strong>Medical:</strong>
    <%= con_registration.medical %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= con_registration.accepted %>
  </p>

</div>
