<p style="color: green"><%= notice %></p>

<% if current_user.admin? %>
  <h2 style="color:#FF0000">ADMIN VERSION</h2> 
<% end %>

<%= render @con_registration %>

<div>
  <%= link_to "Edit this con registration", edit_con_registration_path(@con_registration) %> |
  <%= link_to "Back to con registrations", con_registrations_path %>

  <%= button_to "Destroy this con registration", @con_registration, method: :delete %>
</div>
